h1 {
    color:violet;
}
img {
    width:400px;
}
#thirdDiv{
    heigth:500px;
    width:600px;
    background-color:green;
    padding: 50px;
    border:10px solid blue;
}
#spanId {
    margin:100px;
    font-size:25px;
}
body {

   margin:0;
   padding:0;
   background:url(celestef.jpg);
   background-size:cover;
   background-position:center;
   font-family:sans-serif;
}